  body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background-image: url(../landing-page/assets/thunderbird.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    
   


  }
  
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap:25px;
    list-style-type: none;
    
  }
  
  
  
  a{
      text-decoration: none;
  }
  /* unvisited link */
  a:link {
  color: rgb(14, 13, 13);
}

/* visited link */
  a:visited {
  color: rgba(2, 2, 2, 0.568);
}

/* mouse over link */
  a:hover {
  color: rgb(105, 115, 255);
  text-decoration: underline;
  text-underline-offset: 1em;
  text-decoration-thickness: 4px;
}

/* selected link */
  a:active {
  color: rgb(255, 60, 0);
}


  .header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color: rgba(240, 248, 255, 0.205);
   
   
    
  }

  .header img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .left, .right {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
   
  }

  .right{
    align-items: center;
    padding-right: 20%;
  
   
    
  }

  .section1{
   /* background-color: rgba(40, 80, 114, 0.473);*/
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10%;
    
    
    
    
   
  }
  .button1 {
    padding: 8px 16px;
    border-radius: 8px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
  }
  .container1{
    max-width: 400px;
    
    background-color: rgba(135, 183, 224, 0.384);
    padding: 20px;
    border: 1px;
    border-style: double;
    border-radius: 20%;
  }

  .j5{
    width: 200px;
    height: 200px;
   align-self: center;
    border-radius: 20%;
    
    

  }

  .section2{
    /*background-color: rgba(114, 40, 40, 0.473);*/
    text-align: center;
  }

  .title2{
    margin-bottom: 32px;
    color:white;
  }

  .container2{
    display: flex;
    justify-content: center;
    gap: 52px;
    flex-wrap: wrap;
  }

  .info {
    max-width: 200px;
  }

  .info img{
    height:200px;
    width: 200px;
    border-color: rgba(135, 183, 224, 0.384);
    border-width: 1em;
    border-style: double;
    border-radius: 20%;
  }

  .section3{
    /*background-color: rgba(40, 80, 114, 0.473);*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    

  }

  .quote{
    max-width: 300px;
  }

  .section4{
   /* background-color: rgba(114, 40, 40, 0.473);*/
   display: flex;
   justify-content: center;
   
  }

  .footer {
    background-color: rgba(240, 248, 255, 0.205);
    display: flex;
    justify-content: center;
    
  }

  .grow { 
    transition: all .2s ease-in-out; 
    }
    
    .grow:hover { 
    transform: scale(1.1); 
    }

    .vl {
      border-left: 6px solid green;
      height:auto;
    }